*,
*:before,
*:after{
    box-sizing: border-box;
}

html {
    font-size: 1em;

}

body {
    font-family: 'Helvetica Neue',Helvetica,'Segoe UI',Arial,sans-serif;
}


// Nav
.nav {
    width: 100%;
    padding: 30px 0;

    & a{
        font-size: 1.2rem;
        color: #cd2653;
    }
}

.logo {
    width: 150px;
    height: auto;
}

.ellipsis-icon {
    width: 20px;
    height: 20px;
}

.nav-item-menu {
    position: relative;
    padding: 0 40px;

    &:after {
        display: block;
        position: absolute;
        top: 70%;
        left: 30%;

        content: 'Меню';
        font-size: 1rem;
    }

    &:hover:after {
        text-decoration: underline;
    }

}

// Content

// News
.content {
    background-color: #f5efe0;
    padding-top: 100px;
}

.news {
    width: 50%;
    margin: 0 auto 100px;
}

.news-title {
    text-decoration: none;
    font-size: 4rem;

    & a{
        color: black;
    }
}

.news-text {
    font-size: 1.5rem;
}

.news-author {
    font-size: 1.3rem;
}

// Address Book

.addressbook-title {
    font-size: 4rem;
}
